@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    color: #523A28;
    font-weight: bold;
}

html, body{
    height:100%;
 }

 .contenido{
    min-height:100%;
    margin:0 auto -142px;
 }
 .espacio{
    height:90px;
 }

 a{
    text-decoration: none;
}

h1{
    font-family: 'Dancing Script', cursive;
}

h2{
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

img{
    border-radius: 10px;
}

.sombreado{
    -webkit-box-shadow: 11px 10px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 19px -5px rgba(0,0,0,0.75);
    min-width: 330px;
}

.navbar, .dropdown-menu, .footer{
    background-color: #523A28;
    color: #D0B49F;
}

body{
    background-color: #D0B49F;
    color: #523A28;
}

th, th{
    background-color: #523A28 !important;
    color: #D0B49F;
}
.portada{
    background-size: cover;  
    height: 35rem;
    width: 100%;
    background-image: url(../img/img1.jpg);
    background-attachment: fixed;
}

.btn-primary{
background-color: #523A28;
border: #D0B49F;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: #A47551;
    border: 2px #523A28;
}

.btn-secondary{
    background-color: #A47551    ;
    border: #D0B49F;
    }  


.dropdown-item:focus, li:focus{
 background-color: #A47551 !important;
}

.main {
    margin-bottom: 4.5rem !important;
}

.card{
    background-color: #523A28;
    border: none;
}
.card:hover{
    animation-name: aumento;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;    
}
@keyframes aumento {
    100%{
      transform: scale(1.04);
      border: none;
      color: black;
    }
  }

.card-title, .card-text{
    color: #D0B49F;
    text-align: center;
}




/*LOGIN*/
.todo-login{
    background-image: url(img/img1.jpg);
    background-size: cover;
    filter:brightness(0.9);
}


.div-login{
    height: 40rem;
}

.form-login{
    background-color: rgba(0,0,0, .9);
    padding: 5rem;
    padding-top: 7rem;
    border-radius: 20px;
}

.h2-login{
    color: #f0dbcb;
}

.nav-item-login{
    background-color: #D0B49F;
    padding: 0.5rem;
    border-radius: 10px;
}

.nav-link-login{
    color: #523A28;
    font-weight: bold;
}

.nav-link-login:hover, .nav-item-login:hover{
    color: #523A28;
    animation-name: aumento;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;   
}

