<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libreria</title>
  <link rel="icon" href="/img/icono2.png" th:href="@{/img/icono2.png}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
  <div class="contenido">
  <nav th:replace="fragmentos :: navbar"></nav>

  <div th:replace="fragmentos :: div-error"></div>
  <div th:replace="fragmentos :: div-exito"></div>

  <h2 class="text-center mt-5 mb-4">Prestamos activos</h2>
  <div class="mb-3 mt-3 container-fluid">
    <img th:src="@{/img/img18.jpg}" alt="libros" class="m-auto d-block">
  </div>
  <div th:if=${prestamos.isEmpty()}>
    <p class="ms-5 fs-5">Todavia no hay prestamos cargados. <a th:href="@{/prestamos/crear}">Ingresar un prestamo.</a>
    </p>
  </div>

  <div class="table-responsive container-md mt-5" th:unless="${prestamos.isEmpty()}">
    <table class="table table-bordered">
      <thead class="table-secondary text-center">
        <tr>
          <th class="col">ID</th>
          <th class="col">Fecha de prestamo</th>
          <th class="col">Libro</th>
          <th class="col">Cliente</th>
          <th class="col">Fecha de devolucion</th>
          <th class="col">Estado</th>
          <th class="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="p : ${prestamos}">
          <div>
            <td class="col" th:text="${p.id}"></td>
            <td class="col" th:text="${p.fechaPrestamo}"></td>
            <td class="col" th:text="${p.libro.titulo}"></td>
            <td class="col-md-4 px-md-2">
              <span th:text="|${p.cliente.nombre} ${p.cliente.apellido}|"></span>
            </td>
            <td class="col" th:text="${p.fechaDevolucion}"></td>
            <td class="col" th:text="${p.alta} ? 'Activo' : 'Devuelto'"></td>
            <td class="col d-flex justify-content-center">
              <a class="btn btn btn-danger me-4" th:if=${p.alta} th:href="@{/prestamos/editar/__${p.id}__}">Dar de
                baja</a>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
    <div th:replace="fragmentos :: div-error"></div>
    <div th:replace="fragmentos :: div-exito"></div>
  </div>

  <footer th:replace="fragmentos :: footer"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Cerrar alertas -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
  </script>
  <script type="text/javascript">
    setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(".alert").remove();
      });
    }, 2000);
  </script>
    <div class="espacio">
    </div>
    </div>
</body>

</html>